

/* Google Fonts */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* { 
    margin: 0;
    padding: 0;
}

/* Shared style */

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid #FD6E0A;
    padding: 15px 35px;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #fff;
    color: #FD6E0A;
    transition: all 0.3s ease-in-out;
}

.btn-secondary {
    color: #FD6E0A;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid #FD6E0A;
    padding: 15px 35px;
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
}

.btn-secondary:hover {
    background-color: #FD6E0A;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Header section style */

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 50px top, bottom right ;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
.nav-title span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
    
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a:hover {
    color: #FD6E0A;
    transition: all 0.3s ease-in-out;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

/* Banner styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 45px 0 200px;
    gap: 100px;
}

.banner-content {
    max-width: 650px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-title {
    font-size: 85px;
    font-weight: 800;
}

.banner-description {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}



